# Problem loan prediction 2017 - Lending Club
## Code
### For more information about the results of this project, check the report.pdf file

In [1]:
import pandas as pd

## Uploading the data

The data was dowloaded from the Lending Club website in two files, one for each quarter.

Uploading each file separately and then merging it into a single pandas data frame.

In [2]:
# Uploading data into two dataframes

data_1Q = pd.read_csv('LoanStats_2017Q1.csv', skiprows=1, low_memory=False)
data_2Q = pd.read_csv('LoanStats3a.csv', skiprows=1, low_memory=False)

# Merging the dataframes

data_loans = pd.concat([data_1Q, data_2Q])

In [5]:
print (data_loans.shape)
print("HEAD")
display(data_loans.head())
print("\n TAIL")
display(data_loans.tail())

(139319, 145)
HEAD

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,5000.0,36 months,8.24%,157.24,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,9000.0,9000.0,9000.0,36 months,10.49%,292.48,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10150.0,10150.0,10150.0,36 months,7.24%,314.52,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4700.0,4700.0,4700.0,36 months,15.99%,165.22,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,20000.0,20000.0,20000.0,36 months,8.24%,628.95,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

 TAIL

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
42533,NaN,NaN,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,NaN,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are a few data descriptors at the end of the files than need to be remove.

In [6]:
data_loans = data_loans.sort_values(by = 'id',na_position = 'first', ascending=True)
display(data_loans.tail(10))

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
42531,NaN,NaN,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42532,NaN,NaN,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42533,NaN,NaN,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,NaN,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
39786,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96779,Total amount funded in policy code 1: 1437969475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96780,Total amount funded in policy code 2: 520780182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print ('The data frame has %d rows (loans) with %d columns' % (data_loans.shape[0], data_loans.shape[1]))
data_loans.drop(data_loans.tail(5).index,inplace=True)
display(data_loans.tail(5))

The data frame has 139319 rows (loans) with 145 columns

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
42531,NaN,NaN,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42532,NaN,NaN,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42533,NaN,NaN,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,NaN,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Remove the columns with only NaN and or with large number of NaN

In [ ]:
# Create df with number of NaN on each column
use_col = pd.DataFrame(data_loans.isnull().sum().sort_values())
use_col.reset_index(drop = False, inplace=True)
use_col.columns = (['col_name','num_NaN'])
display(use_col)

In [10]:
aa = pd.DataFrame(data_loans.isnull().sum().sort_values()[data_loans.isnull().sum().sort_values()<10])
aa.sort_values(by = 0, ascending=False)

                         0
last_credit_pull_d       6
annual_inc               4
zip_code                 1
installment              0
emp_length               0
funded_amnt              0
loan_amnt                0
sub_grade                0
grade                    0
home_ownership           0
term                     0
revol_bal                0
issue_d                  0
pymnt_plan               0
loan_status              0
hardship_flag            0
int_rate                 0
verification_status      0
debt_settlement_flag     0
out_prncp_inv            0
total_rec_int            0
initial_list_status      0
out_prncp                0
total_pymnt              0
total_pymnt_inv          0
total_rec_prncp          0
addr_state               0
recoveries               0
purpose                  0
collection_recovery_fee  0
last_pymnt_amnt          0
policy_code              0
application_type         0
disbursement_method      0
total_rec_late_fee       0
funded_amnt_inv          0

In [14]:
data_loans = data_loans.dropna(axis=1, how='all')
data_loans.shape

(139311, 142)

In [26]:
def df_col_low_nan(df_data, min_nan): 
    # Returns a df with columns with less nan than min_nan
    use_col = pd.DataFrame(df_data.isnull().sum().sort_values()[df_data.isnull().sum().sort_values()<min_nan])
    use_col.reset_index(drop = False, inplace=True)
    use_col.columns = (['col_name','num_NaN'])
    new_data = pd.DataFrame()
    for i in range(0,len(use_col.col_name)):
        df = df_data[use_col.col_name[i]]
        new_data = pd.concat([new_data, df], axis=1)
    return new_data

In [29]:
df_col_low_nan(data_loans, 10).shape

(139311, 36)

In [ ]:
data_loans
data_loans.to_csv('loans_2017.csv', index=False)
data_2017 = pd.read_csv('loans_2017.csv')

In [ ]:


pd.DataFrame(a.columns)


a = data_2017.dropna(axis=1, how='all')
a.shape
a.loan_status.unique()



# Removing fully paid loans
a = a[a.loan_status.str.contains('Current')==False]
a.loan_status=a.loan_status.str.replace(r'(^.*Paid$)', "Fully Paid")
a.loan_status=a.loan_status.str.replace(r'(^.*Charged Off$)', "Charged Off")

a.settlement_amount.unique()
usef_cols = pd.DataFrame(a.isnull().sum().sort_values()[a.isnull().sum().sort_values()<20000])
usef_cols.reset_index(drop = False, inplace=True)
usef_cols.columns = (['col_name','num_NaN'])
new_data =pd.DataFrame()

for i in range(0,len(usef_cols)):#(usef_cols.col_name):
    print(i)
    j = i+1
    df = a.iloc[:,i:j]
    print(df.head)
    new_data = pd.concat([new_data, df], axis=1)
    
new_data.head() 

new_data = pd.DataFrame(new_data.isnull().sum().sort_values()[a.isnull().sum().sort_values()<200])
a.total_acc

a[bbb]
a[usef_cols.col_name[0]]

type(usef_cols.col_name[0])